# PostgreSQL database connection
DATABASE_URL=postgresql://user:password@hostname:5432/database

# YouTube integration for the sermon page
NEXT_PUBLIC_YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY
NEXT_PUBLIC_YOUTUBE_CHANNEL_ID=YOUR_YOUTUBE_CHANNEL_ID

# Paystack payment integration
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=YOUR_PAYSTACK_PUBLIC_KEY
PAYSTACK_SECRET_KEY=YOUR_PAYSTACK_SECRET_KEY

# Admin password for accessing admin area
NEXT_PUBLIC_ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD



